
<div id="home-container">
	<div id="container1" style="width: 100%; height: 400px;"></div>
	<hr>
	<div align="right" id="seeallbtn">
		<a href="#/see-all/getDetails" type="button" class="btn btn-primary">See
			All</a>
	</div>
</div>