<!DOCTYPE html>
<html lang="en" ng-app="ssAppModule" analytics>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Stock Sphere | Connecting the dots of stock market</title>
<meta name="generator" content="Stock Sphere" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
<link href="css/styles.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
<!-- script references -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/highstock.js"></script>
<script src="js/exporting.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/dirPagination.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="js/amplify.min.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script type="text/javascript" src="js/highslide-full.min.js"></script>
<script type="text/javascript" src="js/highslide.config.js"
	charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="css/highslide.css" />

<!-- local js files -->
<script src="js/ssappcharts.js"></script>
<script src="js/ssappangular.js"></script>
<script src="js/ssapputil.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61562063-1', 'auto');
</script>

</head>
<body class="body-style">
	<header class="navbar navbar-bright navbar-fixed-top" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="navbar-header">
						<!-- <button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button> -->
						<a href="#/" class="navbar-brand">Home</a>
					</div>
					<nav class="collapse navbar-collapse" role="navigation">
						<!--<ul class="nav navbar-nav">
				 	<li><a href="#"></a></li>
				</ul> -->
					</nav>
				</div>
				<div class="col-md-3">
				<form name="quotesearchform" class="form-horizontal" method="post" ng-submit="quotesearchform.$valid && submit($event)"
					ng-controller="QuoteSearchController" novalidate>
					<div class="input-group" ng-controller="TypeaheadController"
						class="pull-right" style="margin: 10px">
						<input type="text" name="input" class="form-control"
							placeholder="Get quote..." ng-model="$parent.script"
							typeahead="script as script.name for script in getSymbols($viewValue)"
							typeahead-editable="true" required> <span class="input-group-btn">
							<button class="btn btn-primary" type="button" data-toggle="modal"
							data-target="#search-popup"> <span
								class="glyphicon glyphicon-chevron-down"> </span>
						</button> <button type="submit" class="btn btn-primary"> <span
								class="glyphicon glyphicon-search"></span>
						</button>
						</span>
					</div>
					</form>
				</div>
			</div>
		</div>
	</header>

	<!-- Modal start -->
	<div class="modal fade" id="search-popup" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Advance Search</h4>
				</div>

				<form name="form" id="form" class="form-horizontal" method="post" ng-submit="form.$valid && submit($event)"
					ng-controller="AdvanceSearchController" novalidate>
					<div class="modal-body">
						<!-- Modal body start -->

						<span id="error1" ng-show="formerror"><font color="red">{{formerror}}</font></span>

						<div class="form-inline" ng-init="advanceSearchForm.datedaysradio='date'">
						<label class="control-label">Date Range</label><br>
							<div class="input-group"
								ng-controller="MinDatepickerCtrl">
								<span class="input-group-addon"> <input type="radio"
									id="dateradio" ng-model="advanceSearchForm.datedaysradio"
									name="datedaysradio" value="date">
								</span> <input type="text" class="form-control"
									datepicker-popup="{{format}}" placeholder="Min date"
									name="dateminrange"
									ng-model="$parent.advanceSearchForm.dateminrange"
									is-open="opened" min="2015-01-01"
									date-disabled="disabled(date, mode)" max="'2016-06-22'"
									datepicker-options="dateOptions" ng-disabled="true"
									ng-required="advanceSearchForm.datedaysradio == 'date'" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
							<div class="input-group"
								ng-controller="MaxDatepickerCtrl">
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" placeholder="Max date"
									name="datemaxrange"
									ng-model="$parent.advanceSearchForm.datemaxrange"
									is-open="opened" min-date="2015-01-01"
									date-disabled="disabled(date, mode)" ng-disabled="true"
									max-date="'2016-06-22'" datepicker-options="dateOptions"
									ng-required="advanceSearchForm.datedaysradio == 'date'" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
							</div>
						<span id="error2" ng-show="form.dateminrange.$error.required || form.datemaxrange.$error.required"><font color="red">Enter valid dates</font></span><br>
						
						<div class="form-inline">
							<label class="control-label">Number of days</label><br>
							<div class="input-group">
								<span class="input-group-addon"> <input type="radio"
									ng-model="advanceSearchForm.datedaysradio" name="datedaysradio"
									value="days">
								</span><input type="number" min="1" max="50" id="days"
									class="form-control" ng-model="advanceSearchForm.numberofdays"
									name="numberofdays"
									ng-required="advanceSearchForm.datedaysradio == 'days'">
							</div>
						</div>
						<span  id="error3" ng-show="form.numberofdays.$error.required || form.numberofdays.$error.number || form.numberofdays.$error.min || form.numberofdays.$error.max">
						<font color="red">Enter a valid number between 1 to 50 </font></span> <br>


						<div class="form-inline">
							<label class="control-label">Price Range</label><br>
							<div class="input-group">
								<span class="input-group-addon">1.0 </span> <input
									ng-model="advanceSearchForm.priceminrange" name="priceminrange"
									type="number" class="form-control" value=""
									placeholder="Min range" min="1" max="100000"
									ng-required="advanceSearchForm.pricemaxrange > 0">
							</div>
							<div class="input-group">
								<span class="input-group-addon"> 100000.0 </span> <input
									ng-model="advanceSearchForm.pricemaxrange" name="pricemaxrange"
									type="number" class="form-control" value=""
									placeholder="Max range" min=1 max="100000"
									ng-required="advanceSearchForm.priceminrange > 0">
							</div>
						</div>

						<span
							id="error4" ng-show="form.priceminrange.$error.required || form.priceminrange.$error.number || 
							form.priceminrange.$error.min || form.priceminrange.$error.max || form.pricemaxrange.$error.required || 
							form.pricemaxrange.$error.number || form.pricemaxrange.$error.min || form.pricemaxrange.$error.max">
							<font color="red">Both price fields should be populated with valid number between 1 to 100000</font></span><br>
					</div>
					<div class="modal-footer">
						<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Search</button>
					</div>
				</form>
				<!-- Modal body end -->
			</div>
		</div>
	</div>
	<!-- Modal end -->

	<div id="masthead">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1>Stock Sphere</h1>
				</div>
				<div class="well well-lg">
					<div class="row">
						<div class="col-sm-12"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /cont -->

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-spacer"></div>
				</div>
			</div>
		</div>
		<!-- /cont -->
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-body">
						<!-- route -->
						<div ng-view autoscroll></div>
						<!-- route -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/col-12-->
	<hr>
	<div class="container" id="footer">
		<div class="row">
			<div class="col col-sm-12">

				<h1>Follow Us</h1>
				<div class="btn-group">
					<a class="btn btn-twitter btn-lg" href="https://twitter.com/StockSphere" target="_blank" onClick="ga('send', 'event', 'social', 'twitter');"><i
						class="icon-twitter icon-large"></i> Twitter</a> <a
						class="btn btn-facebook btn-lg" href="https://www.facebook.com/stocksphere" target="_blank" onClick="ga('send', 'event', 'social', 'facebook');"><i
						class="icon-facebook icon-large"></i> Facebook</a>
				</div>

			</div>
		</div>
	</div>
	<hr>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="pull-right">© Stock Sphere</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>