<p class="text-center" ng-hide="stockdata">
	<img ng-src="images/loading.gif" height="100" width="100" />
</p>

<div id="see-all-container" ng-show="stockdata">

	<div ng-switch on="show_data">
		<div ng-switch-when="false">{{no_data_found_msg}}</div>
		<div ng-switch-when="true">
			<!-- start panel -->
			<div class="panel">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-7">
						</div>
						<div class="col-md-5">
							<div class="input-group" class="pull-right">
								<input type="text" name="input" class="form-control"
									placeholder="Search..." ng-model="query"> <span
									class="input-group-btn">
									<button class="btn btn-primary" type="button"
										ng-click="query = '';">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button class="btn btn-primary" type="button">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<br>
					<div ng-if="stock_data_positive_count > stock_data_negative_count">
					<div ng-if="show_single_day_result == true" class="alert alert-success">
						Total <b>{{stock_data_count}} </b>results found for <b>{{start_date}}</b>. <b>{{stock_data_positive_count}}</b> companies are with <b>positive</b> percentage change and <b>{{stock_data_negative_count}}</b> are with <b>negative</b>.
					</div>	
					<div ng-if="show_single_day_result == null" class="alert alert-success">
						Total <b>{{stock_data_count}} </b>results found between the dates <b>{{end_date}} </b>and <b>{{start_date}}</b>. <b>{{stock_data_positive_count}}</b> companies are with <b>positive</b> percentage change and <b>{{stock_data_negative_count}}</b> are with <b>negative</b>.
					</div>
					</div>
					<div ng-if="stock_data_positive_count <= stock_data_negative_count">
					<div ng-if="show_single_day_result == true" class="alert alert-danger">
						Total <b>{{stock_data_count}} </b>results found for <b>{{start_date}}</b>. <b>{{stock_data_positive_count}}</b> companies are with <b>positive</b> percentage change and <b>{{stock_data_negative_count}}</b> are with <b>negative</b>.
					</div>	
					<div ng-if="show_single_day_result == null" class="alert alert-danger">
						Total <b>{{stock_data_count}} </b>results found between the dates <b>{{end_date}} </b>and <b>{{start_date}}</b>. <b>{{stock_data_positive_count}}</b> companies are with <b>positive</b> percentage change and <b>{{stock_data_negative_count}}</b> are with <b>negative</b>.
					</div>
					</div>		
					<br>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover">
								<thead> 
									<tr>
										<th width="25%"  style="text-align: left">
										<a href=""
											ng-click="predicate = 'name'; reverse=!reverse">Company</a>
										</th>
										<th width="10%" style="text-align: right">
										<a href=""
											ng-click="predicate = 'percentage'; reverse=!reverse">% Change</a>
										</th>
										<th width="10%" style="text-align: right">
										<a href=""
											ng-click="predicate = 'closingPriceDiff'; reverse=!reverse">Change</a>
										</th>
										<th width="10%" style="text-align: right">
										<a href=""
											ng-click="predicate = 'startClosingPrice'; reverse=!reverse">Closing Price</a>
										</th>
										<th width="10%" style="text-align: right">
										<a href=""
											ng-click="predicate = 'averageVolume'; reverse=!reverse">Avg. Volume</a>
										</th>
										<th width="12%" style="text-align: right">
										Price Range
										</th>
										<th>
										</th>
										
									</tr>
								</thead>

								<tbody>
									<tr
										dir-paginate="stock in stockdata | filter:query | orderBy:predicate:reverse | itemsPerPage: pageSize"
										current-page="currentPage">
										<td width="25%" align="left"><a
											ng-href="#/show-details/{{stock.symbol}}">{{stock.name}}</a></td>
										<td width="10%" ng-if="stock.closingPriceDiff > 0" align="right"><font color="green">{{stock.percentage}}%</font></td>
										<td width="10%" ng-if="stock.closingPriceDiff <= 0" align="right"><font color="red">{{stock.percentage}}%</font></td>
										<td width="10%" ng-if="stock.closingPriceDiff > 0" align="right"><font color="green">{{stock.closingPriceDiff}}</font></td>
										<td width="10%" ng-if="stock.closingPriceDiff <= 0" align="right"><font color="red">{{stock.closingPriceDiff}}</font></td>
										<td width="10%" align="right">{{stock.startClosingPrice}}</td>
										<td width="10%" align="right">{{stock.averageVolume}}</td>
										<td width="12%" align="right">{{stock.lowPrice}} - {{stock.highPrice}}</td>
										<td ng-if="stock.twitterSymbol" align="right">
										<a href="https://twitter.com/{{stock.twitterSymbol}}" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{stock.twitterSymbol}}</a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
										</td>
										<td ng-if="stock.twitterSymbol == null" align="right"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div ng-controller="PaginationController">
								<div class="text-center">
									<dir-pagination-controls boundary-links="true"
										on-page-change="pageChangeHandler(newPageNumber)"
										template-url="dirPagination.tpl.html"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
					<!--end of table-->
				</div>
			</div>
			<!--end of panel-->
		</div>
		<!--end of ng show-->
	</div>

</div>