<div id="show-details">
	<div class="panel">
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th width="40%"><font size="5">{{stockdata.name}}</font></th>
						<th>NSE &nbsp;&nbsp;[{{stockdata.date}}]</th>
						<th></th>
						<th></th>
						<th ng-if="stockdata.twitterSymbol == null"></th>
						<th ng-if="stockdata.twitterSymbol">
						<a href="https://twitter.com/{{stockdata.twitterSymbol}}" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{stockdata.twitterSymbol}}</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</th>
						<th><a ng-href="http://www.nseindia.com/companytracker/cmtracker.jsp?symbol={{stockdata.symbol}}" target="_blank" class="btn btn-primary" type="button">
										Track
									</a></th>
					</tr>
				</thead>
				<tbody>
				<tr>
						<td rowspan="2" ng-if="stockdata.changeInPrice > 0"><b><font size="5" color="green">{{stockdata.close}}</font></b> <font size="3" color="green">&nbsp;+{{stockdata.changeInPrice}} (+{{stockdata.percentageChangeInPrice}}%)</font></td>
						<td rowspan="2" ng-if="stockdata.changeInPrice <= 0"><b><font size="5" color="red">{{stockdata.close}}</font></b> <font size="3" color="red">&nbsp;{{stockdata.changeInPrice}} ({{stockdata.percentageChangeInPrice}}%)</font></td>
						<td>Previous Close: <b>{{stockdata.previousClose}}</b></td>
						<td>Open: <b>{{stockdata.open}}</b></td>
						<td>High: <b>{{stockdata.high}}</b></td>
						<td>Low: <b>{{stockdata.low}}</b></td>
						<td>Volume: <b>{{stockdata.volume}}</b></td>
				</tr>
				<tr>
				<td>52wk High: <b>{{stockdata.high52Week}}</b></td>
				<td>52wk Low: <b>{{stockdata.low52Week}}</b></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>
				</tbody>
				</table>
				
				<table class="table">
				<tbody>
				<tr>
						<td>Listing Date (NSE): {{stockdata.listingDate}}</td>
						<td>Industry: {{stockdata.industry}}</td>
						<td>ISIN: {{stockdata.isin}}</td>
					</tr>
					<tr>
						<td>Face Value: {{stockdata.faceValue}}</td>
						<td>Issued Cap. (Shares): {{stockdata.issuedCapInShares}}</td>
						<td>Market Cap. (Cr.): {{stockdata.marketCapCrInr}}</td>
					</tr>
				</tbody>
				</tbody>
				</table>
				<br>
				
			<div id="show-details-container" style="width: 100% height: 400px;"></div>
			<br>
		</div>
	</div>
	<div align="left" id="back-see-all">
		<a href="#/see-all/getDetails" type="button" class="btn btn-primary">Back</a>
	</div>
</div>